#bg {
    background-color: rgb(244, 152, 179);

    .center {
        padding-inline-start: 30px;
        padding-left: 0%;
        background-color: rgb(247, 247, 221);
        color: brown;
        font-size: 190%;
        text-align: center;
    }

}

h2 {
    padding-left: 10px;
    padding-right: 30px;
    background-color: rgb(244, 152, 179);
}

a {
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

.parent{
    position: relative;

}
.subnav{
    display: none;
    background-color: rgb(81, 231, 141);
    position: absolute;
    bottom: -60px;
    
}
 .parent:hover > .subnav{
    display: flex;
    flex-direction: column;
    width: 13px;

    line-height: 20px;
    left: 20px;
}