#title{
    color: brown;
    text-shadow: 0 25px 30px;
    text-align: center;
    font-style: italic;
    text-decoration-style:dashed;
}
h2{  display: flex;
    justify-content: flex-start;
    padding-inline-start: 30px;
    padding-left: 0%;
    background-color: rgb(247, 247, 221);color:brown;
    font-size: 190%;

}
#title9{
  width: 50%;
  margin:auto;
  border: 2px solid rgb(246, 145, 174) ;
  border-top: 4px solid  rgb(245, 193, 208);
} 
a{
  text-decoration: none;
}
.parent{
  position: relative;

}
.subnav{
  display: none;
  background-color: rgb(204, 251, 157);
  position: absolute;
  bottom: -80px;
  
}
.parent:hover > .subnav{
  display: flex;
  flex-direction: column;
  width: 13px;
  line-height: 20px;
  left: 20px;
}